<h2>All posts</h2>
<% if (locals.amAuthor) { %>
    <p><a href="/posts/new" role="button">New post</a></p>
<% } %>
<form action="/posts" method="GET">
    <div class="grid">
        <input type="title" id="title" name="title" placeholder="Search" value="<%= locals.searchOptions.title %>">
        <select name="category" id="category" placeholder="Category">
            <option label="Select a category to filter by" value=""></option>
            <% locals.categories.forEach(category => { %>
                <% if (category.id == locals.searchOptions.category){ %> 
                    <option selected label="<%= category.name %>" value="<%= category._id %>">
                <% } else { %>
                    <option label="<%= category.name %>" value="<%= category._id %>">
                <% } %> 
            <% }) %>
        </select>
    </div>
    <% if (locals.user) { %>
        <label for="switch" class="inline">
            All posts
            <input
                type="checkbox"
                id="followingFilter"
                name="followingFilter"
                role="switch"
                class="two-option-toggle"
                <%= locals.searchOptions.followingFilter == 'on' ? ' checked' : '' %>>
            Posts from bloggers I'm following
        </label>
        <div class="margin-bottom"></div>
    <% } %>
    <button type="submit">Update Search</button>
</form>

<section>
    <div class="grid-basic">
        <% locals.posts.forEach(post => { %> 
            <%- include('../partials/post.ejs', { post: post }) %>
        <% }) %>
    </div>
</section>